doctype html
html
    head
        title Natours | #{tour}
        link(rel="stylesheet" href="css/style.css")
        link(rel="shortcut icon" type="image/png" href="img/favicon.png")
    body
        h1= tour
        //- h1 The Park Camper
        h2= user.toUpperCase()
        - const x = 9
        p= x
        p This is some text