doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Natours | Exciting tours for adventurous people
        link(rel="stylesheet" href="css/style.css")
        link(rel="shortcut icon" type="image/png" href="img/favicon.png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
        meta(name="robots" content="noindex")
        meta(name="googlebot" content="noindex")

    body
        // HEADER
        include _header

        // CONTENT
        main.main
            h1= tour

        // FOOTER
        include _footer
